{
  "log": {
    "_recordingName": "IFramely Tests/IFramely used for Fastly IP addresses",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "50a1e9f8e92e1a24e704146e9e5e0c21",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "v",
              "value": "TTCVn4EByfI"
            },
            {
              "name": "w",
              "value": "1"
            },
            {
              "name": "url",
              "value": "https://www.youtube.com/watch?v=TTCVn4EByfI&w=1"
            }
          ],
          "url": "https://iframe.ly/api/oembed?v=TTCVn4EByfI&w=1&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DTTCVn4EByfI%26w%3D1&api_key=dummy"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2254,
            "text": "{\n    \"url\": \"https://www.youtube.com/watch?v=TTCVn4EByfI\",\n    \"type\": \"video\",\n    \"version\": \"1.0\",\n    \"title\": \"Two-Wheeled, Self-Balancing Gyro-X vehicle from 1967 in action & driving scenes!\",\n    \"author\": \"19Bozzy92\",\n    \"author_url\": \"https://www.youtube.com/channel/UCG38eNTt_GlasSyTYiCr7WQ\",\n    \"provider_name\": \"YouTube\",\n    \"description\": \"This video is about the most particular vehicle of the 2019 Concorso d'Eleganza of Villa d'Este in Italy. It's called Gyro-X and it's a 2-wheeled prototype able to stay and drive perfectly balanced thanks to a gyroscope (55 cm in diameter) fitted in the front.\\n\\nThe project was born in 1967, designed by Alex Tremulis and gyroscope specialist Tom Summers, with a budget of $750,000 (about $6 million today) but it was soon abandoned due to Gyrocar Company's bankrupt,  ran out of funds to perfect the product.\\n\\nAfter all these years, Gyro-X chassis had a complicated history, losing its gyroscope too, until it ended up in the hands of Lane Motor Museum in Nashville.\\n\\nCheck this video regarding the restoration process and how does Gyro-X work: https://www.youtube.com/watch?v=S4jLG8Q1jZE\\n\\n#TwoWheeledCar #TwoWheelsCar #GyroX\\n\\n-- Subscribe to my 2nd channel here: https://www.youtube.com/channel/UC3XVG02cKYsLyUUewv-qkoQ\\n\\nYou can also find and follow me on:\\n- Flickr: http://www.flickr.com/photos/19bozzy92/\\n- Facebook:  https://www.facebook.com/19Bozzy92YT\\n- Instagram: https://www.instagram.com/ste19bozzy92/\\n\\nCamcorder: Canon Legria HF G30 + Canon DM-100 Microphone \\nEvent: Concorso d'Eleganza Villa d'Este2019\\nWhere: Cernobbio, Italy\\n\\nLink To My Channel: http://www.youtube.com/user/19Bozzy92\\n\\nTHANKS FOR WATCHING AND SUBSCRIBE!!!\",\n    \"thumbnail_url\": \"https://i.ytimg.com/vi/TTCVn4EByfI/maxresdefault.jpg\",\n    \"thumbnail_width\": 1280,\n    \"thumbnail_height\": 720,\n    \"html\": \"<div style=\\\"left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;\\\"><iframe src=\\\"https://www.youtube.com/embed/TTCVn4EByfI?rel=0\\\" style=\\\"border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;\\\" allowfullscreen scrolling=\\\"no\\\" allow=\\\"encrypted-media; accelerometer; gyroscope; picture-in-picture\\\"></iframe></div>\",\n    \"cache_age\": 86400\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "\"c55812f972ee8f985a83866dfd23a50e\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 250,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
